@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url('https://fonts.googleapis.com/css2?family=Sylfaen&display=swap'); */

::placeholder {
  color: #ffffff;
  font-size: 16px;
}

:-ms-input-placeholder { 
  color: #ffffff;
  font-size: 16px;
}

::-ms-input-placeholder {
  color: #ffffff;
  font-size: 16px;
}